In [1]:
import pandas as pd

In [2]:
store_status = pd.read_csv("./store_status.csv")
timezones = pd.read_csv("./timezones.csv")
menu_hours = pd.read_csv("./menu_hours.csv")

In [3]:
store_status.head()

,store_id,status,timestamp_utc
0,b5d0a65d-6d54-47aa-95e9-9312f0353326,active,2024-10-03 23:33:20.412748 UTC
1,a792089b-e23d-435f-bc18-113b7cc95e11,active,2024-10-03 23:33:36.781143 UTC
2,7a242d0e-309c-4915-9755-e9019d69108d,active,2024-10-03 23:33:37.536328 UTC
3,ca793240-b974-4551-ba0b-649d1a52956c,active,2024-10-03 23:33:56.752347 UTC
4,3a2313be-27d9-429f-9906-ccd142d9906c,active,2024-10-03 23:34:04.138852 UTC

In [4]:
timezones.head()

                               store_id   timezone_str
0  f6e4d870-a273-49cf-be4d-1bf529e26ff3  America/Boise
1  7fa112c6-fd3a-4ff6-aadb-4b55f2e74048  America/Boise
2  273c2570-da54-4526-ab33-175e4d7a1609  America/Boise
3  bad3c0e6-ad67-40b4-aca8-ce1046b25d68  America/Boise
4  0df89218-fde7-4fc6-83da-1c2fc7b480a0  America/Boise

In [5]:
menu_hours.head()

,store_id,dayOfWeek,start_time_local,end_time_local
0,d84a4552-3668-4075-ad1d-16840294f818,1,00:00:00,00:01:00
1,d84a4552-3668-4075-ad1d-16840294f818,3,00:00:00,00:01:00
2,d84a4552-3668-4075-ad1d-16840294f818,4,00:00:00,00:01:00
3,d84a4552-3668-4075-ad1d-16840294f818,0,00:00:00,00:01:00
4,d84a4552-3668-4075-ad1d-16840294f818,5,00:00:00,00:01:00